<!-- Page Footer begins here -->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td align="center">
      <div style="margin-top: 20px;">
        <span class="legal">
          <a [routerLink]="['/about']">About</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a [routerLink]="['/release-info']">Release Information</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a [routerLink]="['/contact-us']">Contact Us</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a [routerLink]="['/privary-policy']">Privacy Policy</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a [routerLink]="['/disclaimer']">Disclaimer</a>
          <br> &copy;&nbsp;Copyright&nbsp;2018&nbsp;Paul Thomas&nbsp;All&nbsp;Rights&nbsp;Reserved.</span>
      </div>
    </td>
  </tr>
</table>
<br>
<!-- Page Footer ends here -->