<div class="agb-gene-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start center" noctuaPerfectScrollbar>
  <div class="noc-container">
    <div class="agb-gene-conmparison-container" fxLayout="column" fxLayoutAlign="start stretch">
      <h1>Compare</h1>
      <div class="agb-comparison-summary">
        <div class="agb-title" fxLayout="row" fxLayoutAlign="start center">
          Parent Species 
          <span class="agb-subtitle">  
            <a href = "/species/{{ParentSpecies}}" target="_blank">{{ParentSpecies}}</a>
          </span>
        </div>
        <div class="agb-title" fxLayout="row" fxLayoutAlign="start center">
          Child Species 
          <span class="agb-subtitle">  
              <a href = "/species/{{ChildSpecies}}" target="_blank">{{ChildSpecies}}</a>
          </span>
        </div>
      </div>
      <mat-accordion>
        <mat-expansion-panel class="agb-comparison-expansion agb-passed" [expanded]="true" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
                </mat-icon>
                <mat-icon *ngIf="false" class="mat-icon-rtl-mirror s-24">
                  signal_cellular_4_bar
                </mat-icon>
              </div>
              <div class="" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="agb-title">
                  <!-- Genes inherited <span class="agb-gene-count"> {{genesInheritedCount}}  -->
                    <span class="agb-gene-count">{{DirectInheritedGenesCount}}</span> genes directly inherited from <span class="agb-gene-count">{{DirectInheritedGenesCount}}</span> ancestral genes
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="agb-expansion-panel-body">
            <app-direct-inherited-genes-table></app-direct-inherited-genes-table>
          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel class="agb-comparison-expansion agb-passed" [expanded]="true" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
                </mat-icon>
                <mat-icon *ngIf="false" class="mat-icon-rtl-mirror s-24">
                  signal_cellular_4_bar
                </mat-icon>
              </div>
              <div class="" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="agb-title">
                  <!-- Genes inherited <span class="agb-gene-count"> {{genesInheritedCount}}  -->
                    <span class="agb-gene-count">{{DenovoGenesCount}}</span> genes denovo gained in {{ChildSpecies}}
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="agb-expansion-panel-body">
            <app-denovo-genes-table></app-denovo-genes-table>
          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel class="agb-comparison-expansion agb-passed" [expanded]="true" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
                </mat-icon>
                <mat-icon *ngIf="false" class="mat-icon-rtl-mirror s-24">
                  signal_cellular_4_bar
                </mat-icon>
              </div>
              <div class="" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="agb-title">
                  <!-- Genes inherited <span class="agb-gene-count"> {{genesInheritedCount}}  -->
                    <span class="agb-gene-count">{{HorizTransGenesCount}}</span> genes horizontal transfered
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="agb-expansion-panel-body">
            <app-horiz-transfered-genes-table></app-horiz-transfered-genes-table>
          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel class="agb-comparison-expansion agb-loss" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
                </mat-icon>
                <mat-icon *ngIf="false" class="mat-icon-rtl-mirror s-24">
                  signal_cellular_4_bar
                </mat-icon>
              </div>
              <div class="" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="agb-title">
                  Ancestral genes lost <span class="agb-gene-count"> {{LossGenesCount}} </span>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="agb-expansion-panel-body">
            <app-loss-genes-table></app-loss-genes-table>
          </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel class="agb-comparison-expansion agb-gained" hideToggle="true">
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-comparison-toggle" fxLayout="column" fxLayoutAlign="center center">
                <mat-icon *ngIf="true" class="mat-icon-rtl-mirror s-18 fa fa-caret-right">
                </mat-icon>
                <mat-icon *ngIf="false" class="mat-icon-rtl-mirror s-24">
                  signal_cellular_4_bar
                </mat-icon>
              </div>
              <div class="" fxLayout="column" fxLayoutAlign="start stretch">
                <div class="agb-title">
                  Genes inherited by duplication <span class="agb-gene-count"> {{DuplicatedGenesCount}} </span>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="agb-expansion-panel-body">
            <app-duplicated-genes-table></app-duplicated-genes-table>
          </div>
        </mat-expansion-panel>
        
      </mat-accordion>
    </div>
  </div>
</div>
