<div class="w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <div class="hero-text">
      <mat-icon class="hero-icon">filter_list</mat-icon>
      <h1 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
        <strong class="">PANTHER</strong>
        <br> Ancestral Genomes Database
      </h1>
      <h3 [@animate]="{value:'*',params:{delay:'100ms', y:'25px'}}">
        Comparative analysis of protein sequences from diverse extant species can infer the evolutionary history of protein coding genes and reconstruct the repertoire of protein coding genes in extinct ancestral species.
      </h3>
      <div class="noc-action mt-8 mb-8">
        <button mat-raised-button [routerLink]="['species']" class="mat-green-600-bg">
          Go To Species Tree
        </button>
      </div>
    </div>
  </div>
  <div class="content p-24">
  </div>
</div>
