<div class="agb-gene-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="agb-column-toolbar" fxLayout="row" fxLayoutAlign="start center">
    <div>
      {{gene?.ptn}}
    </div>
  </div>
  <div class="agb-gene-detail" fxLayout="column" fxLayoutAlign="start stretch" noctuaPerfectScrollbar>
    <div class="agb-card-simple mat-elevation-z1">
      <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="agb-title">
          Gene Name
        </div>
      </div>
      <div *ngIf="gene?.name;else no_info_content" class="agb-body">
        <p>
          {{gene.name}}
        </p>
      </div>
    </div>
    <div class="agb-card-simple mat-elevation-z1">
      <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="agb-title">
          Ancestral Species
        </div>
      </div>
      <div *ngIf="gene?.species;else no_info_content" class="agb-body">
        <p>
          {{gene.species}}
        </p>
      </div>
    </div>
    <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            PANTHER Family
          </div>
        </div>
        <div *ngIf="gene?.pthr;else no_info_content" class="agb-body">
          <p>
          <a href="http://www.pantherdb.org/panther/family.do?clsAccession={{gene.pthr}}">
            {{gene.pthr}}
          </a>
          <a href="http://www.pantherdb.org/panther/family.do?clsAccession={{gene.pthr}}">
            ({{gene.family_name}})
          </a>
          </p>
        </div>
    </div>
    
    <!-- <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            Proxy Genes in Extant Species
          </div>
        </div>
        <div *ngIf="gene?.proxy_genes;else no_info_content" class="agb-body">
            <ul *ngFor="let proxy of gene.proxy_genes">
                    {{ proxy.proxy_gene }}
            </ul>
        </div>
    </div> -->
    <div class="agb-card-simple mat-elevation-z1">
    <table id="prox_genes" class="table table-hover" style="width:100%">
      <!-- <caption>Proxy Genes in Extant Species</caption> -->
      <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
              Proxy Genes in Extant Species
          </div>
        </div>
      <tbody class="col-md-4">
          <tr>
              <th>Extant Species</th>
              <th>PANTHER Identifier of Proxy Gene</th> 
            </tr>
        <tr *ngFor="let proxy of gene.proxy_genes">
          <td>
              
                {{proxy.proxy_org_long}}
              
          </td>
          <td>
                <a href="http://pantherdb.org/genes/gene.do?acc={{proxy.proxy_gene}}">
                  {{proxy.proxy_gene}}
                </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            Inferred Ancestral Protein Sequence
          </div>
        </div>
        <div *ngIf="gene?.sequence;else no_info_content" class="agb-body">
          <textarea class="agb-sequence" rows="10">
            {{gene.sequence}}
          </textarea>
        </div>
      </div>
  </div>
</div>
<ng-template #no_info_content>
  <div class="agb-alert">
    no information yet
  </div>
</ng-template>
