<div class="agb-species-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="agb-column-toolbar" fxLayout="row" fxLayoutAlign="start center">
    Filter
    <input class="agb-select-legacy ml-12" fxFlex="300px" matInput #filter placeholder="{{ totalGenesCount}} genes in {{speciesDetail?.long_name}}"
      autocomplete="off">
    <div>
      <strong class=""></strong>
    </div>
    <span fxFlex=""></span>
    <button mat-icon-button matTooltip="{{speciesDetail?.long_name}} details" [matTooltipShowDelay]="1000" (click)="openSpeciesPreview()">
      <mat-icon class="fa fa-info s-16"> </mat-icon>
    </button>
    <button mat-button matTooltip="Export To CSV" [matTooltipShowDelay]="1000" (click)="download()">
      Export
    </button>

    <!-- <mat-label fxFlex="10" fxFlexOffset="1000">
      <button mat-raised-button (click)="download()">
        Export to CSV
      </button>
    </mat-label> -->

  </div>

  <div class="genes-table" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-table fxFlex="1 1 auto" class="" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
      noctuaPerfectScrollbar>
      <ng-container cdkColumnDef="ptn">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">
          <div *ngIf="hasProxyGene">
            Public ID (Ancestral Gene)
          </div>
          <div *ngIf="!hasProxyGene">
            Public ID (Extant Gene)
          </div>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let gene" fxFlex="160px">
          <p class="text-truncate">{{gene.ptn}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Protein Name</mat-header-cell>
        <mat-cell *cdkCellDef="let gene">
          <p class="">{{gene.name}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="pthr">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">PANTHER Family</mat-header-cell>
        <mat-cell *cdkCellDef="let gene" fxFlex="160px">
          <p class="text-truncate">{{gene.pthr}}</p>
        </mat-cell>
      </ng-container>

      <!-- <ng-container *ngIf="hasProxyGene==false" cdkColumnDef="proxy_gene">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>PANTHER Gene ID</mat-header-cell>
        <mat-cell *cdkCellDef="let gene">
          <p class="text-truncate">{{gene.proxy_gene}}</p>
        </mat-cell>
      </ng-container> -->



      <ng-container cdkColumnDef="proxy_gene">
        <mat-header-cell *cdkHeaderCellDef>
          <div *ngIf="hasProxyGene" class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button color='primary' matTooltip='Proxy genes are genes in an extant genome, that are proxies for an ancestral gene.  The proxy is defined as the closest (smallest total branch length in the gene tree) descendant of the ancestral gene, in the selected extant proxy species.  Because an ancestral gene is extinct, it has not been studied, and the proxy may share characteristics (like function) that have been inherited from the ancestral gene. This column shows the proxy gene in model organisms if exists by default. Select a specific extant species from the dropdown menu on the right to display the proxy gene in the selected species. Click the row to see the full list of proxy genes for a specific ancestral gene.'
              #tooltip="matTooltip" (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"
              (click)="tooltip.toggle()" matTooltipPosition='above' [matTooltipClass]="'tooltip'">
              <mat-icon>help</mat-icon>
            </button>
            <mat-select class="agb-select-legacy" placeholder="Proxy Gene in" [(value)]="selected_proxy_species"
              (selectionChange)="changeProxyGenes($event.value)" fxFlex="0" fxFlexOffset="2">
              <mat-option *ngFor="let ps of proxy_species" value="{{ps}}">
                Proxy Genes in {{ps}}
              </mat-option>
            </mat-select>
          </div>
          <div *ngIf="!hasProxyGene" mat-sort-header>
            PANTHER Gene ID
          </div>
        </mat-header-cell>
        <span class="tooltiptext">Tooltip text</span>
        <mat-cell *cdkCellDef="let gene">
          <p class="text-truncate">{{gene.proxy_gene}}</p>
        </mat-cell>
      </ng-container>


      <mat-header-row *cdkHeaderRowDef="displayedColumns" class="agb-column-subtoolbar"></mat-header-row>
      <mat-row *cdkRowDef="let gene; columns: displayedColumns;" class="gene" matRipple (click)="openGenePreview(gene.ptn)"
        routerLinkActive="active"></mat-row>
    </mat-table>
    <mat-paginator class="noc-paginator" #paginator [length]="dataSource?.filteredData?.length" [pageIndex]="0"
      [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>


  <!-- <ngx-datatable class="genes-table material striped" [rows]="genes" [loadingIndicator]="loadingIndicator" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="56" [rowHeight]="'auto'" [reorderable]="reorderable" [selectionType]="'single'" (select)='onSelect($event)'
    [limit]="20"> 
  <ngx-datatable class="genes-table material striped w-100-p" [rows]="genes" [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="56"
    [rowHeight]="'auto'" [selectionType]="'single'" (select)='onSelect($event)' [limit]="20" [reorderable]=true>
    <ngx-datatable-column name="Public ID" prop="ptn" [width]="100"></ngx-datatable-column>
    <ngx-datatable-column name="Gene Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="Proxy Gene" prop="proxy_gene">
      <ng-template let-sort="sortFn" ngx-datatable-header-template>
        <div class="w-100-p h-100-p" fxlayout="row" fxLayoutAlign="center center">
          <div *ngIf="false" (click)="sort()">
            Proxy Genes in
          </div>
          <button mat-icon-button color='primary' matTooltip='Proxy genes are genes in an extant genome, that are proxies for an ancestral gene.  The proxy is defined as the closest (smallest total branch length in the gene tree) descendant of the ancestral gene, in the selected extant proxy species.  Because an ancestral gene is extinct, it has not been studied, and the proxy may share characteristics (like function) that have been inherited from the ancestral gene. This column shows the proxy gene in model organisms if exists by default. Select a specific extant species from the dropdown menu on the right to display the proxy gene in the selected species. Click the row to see the full list of proxy genes for a specific ancestral gene.'
            #tooltip="matTooltip" (mouseenter)="$event.stopImmediatePropagation()" (mouseleave)="$event.stopImmediatePropagation()"
            (click)="tooltip.toggle()" matTooltipPosition='above' [matTooltipClass]="'tooltip'">
            <mat-icon>help</mat-icon>
          </button>
          <mat-select class="agb-select-legacy" placeholder="Proxy Gene in" [(value)]="selected_proxy_species" (selectionChange)="changeProxyGenes($event.value)"
            fxFlex="0" fxFlexOffset="2">
            <mat-option *ngFor="let ps of proxy_species" value="{{ps}}">
              Proxy Genes in {{ps}}
            </mat-option>
          </mat-select>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="PANTHER Family" prop="pthr"></ngx-datatable-column>
  </ngx-datatable>
-->
</div>
