<mat-toolbar class="p-0" fxLayout="row" fxLayoutAlign="start">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div fxLayoutAlign="center center" class="noc-logo-filler">
    <button mat-button target="_blank">
      <img src="assets/images/logos/panther-logo.png">
    </button>
  </div>
  <div fxFlex="100">
    <mat-toolbar-row class="agb-navbar">
      <div class="" fxLyout="row" fxLayoutAlign="start center">
        <div class="agb-logo">
          Ancestral Genomes
        </div>
        <!-- <button class="noc-viewas-button" mat-button [matMenuTriggerFor]="menu">View Species Tree</button> -->
        <button mat-button [matMenuTriggerFor]="menu">View Species Tree</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/species-horizontal-viewer']">Species Tree Horizontal View</button>
          <button mat-menu-item [routerLink]="['/species-graph-viewer']">Species Tree Graph View</button>
        </mat-menu>
        <!-- <button mat-button [routerLink]="['/species-horizontal-viewer']">
          View phylogenetic species tree
        </button> -->
        <button mat-button [routerLink]="['/about']">
          About
        </button>
        <button mat-button [routerLink]="['/downloads']">
          Downloads
        </button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="agb-subnavbar">
      <div class="noc-breadcrumbs" fxLyout="row" fxLayoutAlign="start center">
        <div class="noc-breadcrumb">
          <button mat-button [routerLink]="['/species']">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div *ngFor="let breadcrumb of breadcrumbs" class="noc-breadcrumb">
          <button mat-icon-button class="noc-breadcrumb-separator">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <button class="" mat-button [routerLink]="[breadcrumb.url]">
            {{breadcrumb.label}}
          </button>
        </div>
      </div>
    </mat-toolbar-row>
  </div>
</mat-toolbar>