<mat-card class="mat-elevation-z5" noctuaPerfectScrollbar>

    <mat-card-content>
<div class="container" fxLayout="column" fxLayoutGap="10px" noctuaPerfectScrollbar>
  <h1>ANCESTRAL GENOMES WEBSITE PRIVACY POLICY</h1>
  <BR>
  <div>
    <p>
      ANCESTRAL GENOMES Privacy Policy
      </p>
<p>
ANCESTRAL GENOMES is committed to protecting your privacy and providing a safe and rewarding online experience. This Privacy Policy describes our policies and procedures for the collection of personal information by this Site, and our use and dissemination of such information. By visiting our Site, you are accepting the practices described in this Privacy Notice.
</p>
<p>Information Collection and Use</p>

<p>In general, our service uses Google Analytics to gather certain usage information including your IP address; computer and connection information such as browser type and version, operating system and platform; and the pages you visit to ANCESTRAL GENOMESdb.org, and the duration of the visit. If you register on our site we may ask for your name, email address, company name, mailing address, and information about your interests and preferences. Once you register you are no longer anonymous to us.</p>

<p>ANCESTRAL GENOMES may use this personal information to help customize the content that you see and to contact you about new technologies or product areas.
</p>
<p>Information Sharing and Disclosure
</p>
<p>ANCESTRAL GENOMES will not sell or rent your personally identifiable information to anyone.
</p>
<p>ANCESTRAL GENOMES may send you unsolicited information, including email, unless you advise us during the registration process that you do not want to receive these types of correspondence from us.
</p>
<p>ANCESTRAL GENOMES has established and maintains reasonable procedures to protect the confidentiality, security, and integrity of personal information collected by this Site. ANCESTRAL GENOMES will disclose your personal information if required to do so by law or in the good-faith belief that such action is necessary to conform to the edicts of the law or comply with legal process.
</p>
<p>ANCESTRAL GENOMES Privacy Policy Changes</p>

<p>If we decide to change our privacy policy, we will post those changes here so that you will always know what information we gather, how we might use that information and whether we will disclose it to anyone.</p>

<p>How to Contact Us</p>

<p>If you have any questions about this privacy statement, please contact us.</p>


  </div>
</div>
</mat-card-content>
</mat-card>
