<div class="agb-species-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch" noctuaPerfectScrollbar>
  <div class="agb-column-toolbar" fxLayout="row" fxLayoutAlign="start center">
    Filter Passed Down Genes
    <input class="agb-select-legacy ml-12" fxFlex="300px" matInput #filter placeholder="{{genesInheritedCount}} genes passed down from {{Ancspecies}} to {{ExtSpecies}}"
      autocomplete="off">
    <div>
      <strong class=""></strong>
    </div>
    <span fxFlex=""></span>
    <button mat-button matTooltip="Export To CSV" [matTooltipShowDelay]="1000" (click)="download_pass()">
      Export
    </button>
  </div>
  <div class="genes-table" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-table fxFlex="1 1 auto" class="" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
      noctuaPerfectScrollbar>
      <ng-container cdkColumnDef="ptn_pass">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">
          <div>
            Ancestral gene ID
          </div>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let gene_pass" fxFlex="160px">
          <p class="text-truncate">{{gene_pass.ptn}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="name_pass">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Ancestral protein Name</mat-header-cell>
        <mat-cell *cdkCellDef="let gene_pass">
          <p class="">{{gene_pass.name | replace }}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="ext_ptn">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">
          <div>
            Extant gene ID
          </div>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let gene_pass" fxFlex="160px">
          <p class="text-truncate">{{gene_pass.all_desendant_gene_ptn_in_proxy_species}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="ext_name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">
          <div>
            Extant protein name
          </div>
        </mat-header-cell>
        <mat-cell *cdkCellDef="let gene_pass" fxFlex="160px">
          <p class="text-truncate">{{gene_pass.all_desendant_gene_name_in_proxy_species}}</p>
        </mat-cell>
      </ng-container>
      <mat-header-row *cdkHeaderRowDef="displayedColumns_pass" class="agb-column-subtoolbar"></mat-header-row>
      <mat-row *cdkRowDef="let gene_pass; columns: displayedColumns_pass;" class="gene" matRipple (click)="openGenePreview(gene_pass.ptn)"
        routerLinkActive="active"></mat-row>
    </mat-table>
    <mat-paginator class="noc-paginator" #paginator [length]="dataSource?.filteredData?.length" [pageIndex]="0"
      [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>
