<mat-card class="mat-elevation-z5">

    <mat-card-content>
        <div class="container" fxLayout="column" fxLayoutGap="10px" noctuaPerfectScrollbar>
            <h1>About Ancestral Genomes</h1>
            <BR>
            <div>
                <p>
                    Ancestral Genomes allows users to explore RECONSTRUCTED ANCESTRAL GENOMES, for a comprehensive set
                    of over 100 reconstructed
                    ancestral genomes spanning the tree of life. Ancestral protein-coding genes are explicitly
                    represented
                    (with stable identifiers) as nodes in reconciled gene trees, and their amino acid sequences are
                    also
                    reconstructed.
                </p>

                <p>
                    At ancestralgenomes.org, users can browse the tree of life, and select a common ancestor of extant
                    taxa (e.g. Opisthokonts,
                    the common ancestor of animals and fungi). The site then retrieves all protein-coding genes that
                    are
                    inferred to have existed in the selected ancestral genome, based on a comprehensive library of over
                    15,000
                    gene trees. The gene trees are based on the <a href="http://pantherdb.org" target="_blank">PANTHER
                        resource</a>, but are estimated with a modified algorithm
                    that adds tree nodes for all common ancestral speciation events, enabling the trees to be used to
                    infer
                    the full complement of protein-coding genes present in a given common ancestor species.
                </p>

                <p>
                    All ancestral genes are given stable identifiers (starting with PTN…). The reconstructed ancestral
                    sequences are also available.
                    Also, for each ancestral gene, we compute a “proxy gene” (the least diverged descendant) in a
                    user-selected
                    extant genome, e.g. the human genome. This enables users to trace the age of extant genes, as well
                    as
                    providing a way to analyze ancestral genomes by “projecting” the ancestral genes onto modern
                    genomes.
                    This can support, for example, Gene Ontology enrichment analysis. All data can be downloaded
                    interactively
                    by ancestral genome.
                </p>
                <b>Please cite<BR>
                    <a href="https://doi.org/10.1093/nar/gky1009">Ancestral Genomes: a resource for reconstructed ancestral genes and genomes across the tree of life.</a>
                </b>
                <BR> Xiaosong Huang, Laurent-Philippe Albou, Tremayne Mushayahama, Anushya Muruganujan, Haiming Tang, Paul D Thomas <BR> Nucl. Acids Res. (2018)doi: 10.1093/nar/gky1009
                <BR>&nbsp;
                <BR>


                <p>To contact the developers with questions or suggestions, please email us at <a href="mailto:ancestralgenomes@gmail.com">ancestralgenomes@gmail.com</a></p>
            </div>
        </div>
    </mat-card-content>
</mat-card>