<mat-card class="mat-elevation-z5">

    <mat-card-content>
        <div class="container" fxLayout="column" fxLayoutGap="10px" noctuaPerfectScrollbar>
            <h1>About Ancestral Genomes</h1>
            <BR>
            <div>
                <p>
                    Ancestral Genomes allows users to explore RECONSTRUCTED ANCESTRAL GENOMES, for a comprehensive set of over 100 reconstructed
                    ancestral genomes spanning the tree of life. Ancestral protein-coding genes are explicitly represented
                    (with stable identifiers) as nodes in reconciled gene trees, and their amino acid sequences are also
                    reconstructed.
                </p>

                <p>
                    At ancestralgenomes.org, users can browse the tree of life, and select a common ancestor of extant taxa (e.g. Opisthokonts,
                    the common ancestor of animals and fungi). The site then retrieves all protein-coding genes that are
                    inferred to have existed in the selected ancestral genome, based on a comprehensive library of over 15,000
                    gene trees. The gene trees are based on the PANTHER resource, but are estimated with a modified algorithm
                    that adds tree nodes for all common ancestral speciation events, enabling the trees to be used to infer
                    the full complement of protein-coding genes present in a given common ancestor species. Ancestral Genomes
                    will be updated on the same frequency as PANTHER, which is yearly, based on the UniProt Reference Proteomes
                    set. Because it deals with ancestral genomes (vs. extant genomes), and requires a completely different
                    method of user interaction (via a species tree), it would not be appropriate as an extension of the PANTHER
                    resource.
                </p>

                <p>
                    All ancestral genes are given stable identifiers (starting with PTN…). The reconstructed ancestral sequences are also available.
                    Also, for each ancestral gene, we compute a “proxy gene” (the least diverged descendant) in a user-selected
                    extant genome, e.g. the human genome. This enables users to trace the age of extant genes, as well as
                    providing a way to analyze ancestral genomes by “projecting” the ancestral genes onto modern genomes.
                    This can support, for example, Gene Ontology enrichment analysis. All data can be downloaded interactively
                    by ancestral genome.
                </p>
            </div>
        </div>
    </mat-card-content>
</mat-card>