@import 'src/@noctua/scss/noctua';
:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  .noc-logo-filler {
    //@include deep-width(100px);
    img {
      height: 40px;
    }
  }
  .mat-toolbar {
    @include deep-height(72px);
    background: inherit;
    color: inherit;
    position: relative;
    mat-toolbar-row {
      @include deep-height(40px);
      &.agb-navbar {
        // border-bottom: #BBB solid 1px;
      }
      &.agb-subnavbar {
        @include deep-height(31px);
        button {
          margin-right: 8px;
          height: 30px;
          line-height: 30px;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 14px;
        }
        .noc-breadcrumb {
          button {
            margin-right: 0px;
            padding-left: 4px;
            padding-right: 4px;
          }
        }
      }
    }
    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    .logo-icon {
      width: 38px;
    }
  }
  .agb-logo {
    padding: 8px 14px 2px 8px;
    font-size: 24px;
    font-weight: 500;
  }
}
