<mat-toolbar class="p-0  mat-elevation-z2" fxLayout="row" fxLayoutAlign="start">
  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
  <div fxLayoutAlign="center center" class="noc-logo-filler">
    <button mat-button target="_blank">
      <img src="assets/images/logos/panther-logo.png">
    </button>
  </div>
  <div fxFlex="100">
    <mat-toolbar-row class="agb-navbar">
      <div class="" fxLyout="row" fxLayoutAlign="start center">
        <div class="">
          <span class="agb-logo-text">
            Ancestral Genome Browser
          </span>
        </div>
      </div>
      <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button class="toggle-button-navbar" *ngIf="!noNav" (click)="toggleSidebarOpened('navbar')" fxHide.gt-md>
            <mat-icon>menu</mat-icon>
          </button>
          <div class="toolbar-separator" fxHide.gt-md></div>
          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNav">
            <div class="logo ml-16">
              <img class="logo-icon" src="assets/images/logos/go-logo.png">
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="agb-subnavbar">
      <div class="noc-breadcrumbs" fxLyout="row" fxLayoutAlign="start center">
        <div class="noc-breadcrumb">
          <button mat-button>
            Home
          </button>
        </div>
      </div>
      <ol class="breadcrumb">
        <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item">
          <a [routerLink]="[breadcrumb.url, breadcrumb.params]">
            {{ breadcrumb.label }}
          </a>
        </li>
      </ol>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
