<div class="agb-species-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="agb-column-toolbar" fxLayout="row">

    <mat-form-field fxFlex="60" class="">
      <mat-label>
        Search
        <strong class="">{{genes?.length}}</strong>
        <em>
          genes in {{SpeciesInfo.long_name}}
        </em>

      </mat-label>

      <input id="search" matInput #filter placeholder="" autocomplete="off">
    </mat-form-field>
    <mat-label fxFlex="0" fxFlexOffset="0">
      <button mat-raised-button (click)="speciesDetail()">
        {{SpeciesInfo.long_name}} detail information
      </button>
      <button mat-raised-button (click)="download()" fxFlex="0" fxFlexOffset="2">
        Export to CSV
      </button>
    </mat-label>

    <!-- <mat-label fxFlex="10" fxFlexOffset="1000">
      <button mat-raised-button (click)="download()">
        Export to CSV
      </button>
    </mat-label> -->
    
  </div>
  <div class="genes-table" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-table fxFlex="1 1 auto" class="" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" noctuaPerfectScrollbar>
      <ng-container cdkColumnDef="ptn">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">Public ID</mat-header-cell>
        <mat-cell *cdkCellDef="let gene" fxFlex="160px">
          <p class="text-truncate">{{gene.ptn}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="name">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header>Gene Name</mat-header-cell>
        <mat-cell *cdkCellDef="let gene">
          <p class="">{{gene.name}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="pthr">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header fxFlex="160px">PANTHER Family</mat-header-cell>
        <mat-cell *cdkCellDef="let gene" fxFlex="160px">
          <p class="text-truncate">{{gene.pthr}}</p>
        </mat-cell>
      </ng-container>
      <ng-container cdkColumnDef="proxy_gene">
        <mat-header-cell *cdkHeaderCellDef mat-sort-header matTooltip="Proxy genes are genes in an extant genome, that are proxies for an ancestral gene.  The proxy is defined as the closest (smallest total branch length in the gene tree) descendant of the ancestral gene, in the selected extant proxy species.  Because an ancestral gene is extinct, it has not been studied, and the proxy may share characteristics (like function) that have been inherited from the ancestral gene. This column shows the proxy gene in model organisms if exists by default. Click the row to see the full list of proxy genes for a specific ancestral gene."
          matTooltipPosition="left" [matTooltipClass]="'tooltip'">Proxy Gene in an Extant Species</mat-header-cell>
        <span class="tooltiptext">Tooltip text</span>
        <mat-cell *cdkCellDef="let gene">
          <p class="text-truncate">{{gene.proxy_gene}}</p>
        </mat-cell>
      </ng-container>
      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- <mat-row *cdkRowDef="let gene; columns: displayedColumns;" class="gene" matRipple [routerLink]="['/species',{outlets:{gene:gene.ptn}}]"></mat-row> -->
      <mat-row *cdkRowDef="let gene; columns: displayedColumns;" class="gene" matRipple [routerLink]="['/gene', gene.ptn]" routerLinkActive="active"></mat-row>

    </mat-table>
    <mat-paginator class="noc-paginator" #paginator [length]="dataSource?.filteredData?.length" [pageIndex]="0" [pageSize]="50"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
  <!--
  <ngx-datatable class="material" [rows]="genes" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48"
    [footerHeight]="56" [scrollbarV]="true" [reorderable]="reorderable" [selectionType]="'checkbox'" [limit]="50">
    <ngx-datatable-column [width]="48" [canAutoResize]="false" [sortable]="false">
      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
        <mat-checkbox [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"></mat-checkbox>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
        <mat-checkbox [checked]="isSelected" (change)="onCheckboxChangeFn($event)"></mat-checkbox>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Public ID" prop="ptn"></ngx-datatable-column>
    <ngx-datatable-column name="Gene Name" prop="name"></ngx-datatable-column>
    <ngx-datatable-column name="PANTHER Family" prop="pthr"></ngx-datatable-column>
  </ngx-datatable>
-->
</div>
