<div class="agb-gene-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start center" noctuaPerfectScrollbar>
  <div class="noc-container">
    <div class="agb-gene-detail" fxLayout="column" fxLayoutAlign="start stretch">
      <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div *ngIf="hasProxyGene" class="agb-title">
            Inferred Ancestral Protein Name
          </div>
          <div *ngIf="!hasProxyGene" class="agb-title">
            Extant Protein Name
          </div>
        </div>
        <div *ngIf="gene?.name;else no_info_content" class="agb-body">
          <p *ngIf="gene.leaf_seq_id">
            <a href="http://pantherdb.org/genes/gene.do?acc={{gene.leaf_seq_id}}" target="_blank">
              {{gene.name}}
            </a>
          </p>
          <p *ngIf="!gene.leaf_seq_id">
            {{gene.name}}
          </p>
        </div>
      </div>
      <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div *ngIf="hasProxyGene" class="agb-title">
            Ancestral Species
          </div>
          <div *ngIf="!hasProxyGene" class="agb-title">
            Extant Species
          </div>
        </div>
        <div *ngIf="gene?.species_long;else no_info_content" class="agb-body">
          <p>
            <a href="/species/{{gene.species_short}}">{{gene.species_long}}</a>
          </p>
        </div>
      </div>
      <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            PANTHER Family
          </div>
        </div>
        <div *ngIf="gene?.pthr;else no_info_content" class="agb-body">
          <p>
            <a href="http://www.pantherdb.org/panther/family.do?clsAccession={{gene.pthr}}" target="_blank">
              {{gene.pthr}}
            </a>
            <!-- <a href="http://www.pantherdb.org/panther/family.do?clsAccession={{gene.pthr}}"> -->
            ({{gene.family_name}})
            <!-- </a> -->
          </p>
          <p>
            <a href="http://panthertest5.usc.edu/treeViewer/treeViewer.jsp?book={{gene.pthr}}&seq={{ptn}}" target="_blank">
              View gene within family tree
            </a>
          </p>
        </div>
      </div>

      <!-- <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            Proxy Genes in Extant Species
          </div>
        </div>
        <div *ngIf="gene?.proxy_genes;else no_info_content" class="agb-body">
            <ul *ngFor="let proxy of gene.proxy_genes">
                    {{ proxy.proxy_gene }}
            </ul>
        </div>
    </div> -->
      <div class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div *ngIf="hasProxyGene" class="agb-title">
            Inferred Ancestral Protein Sequence
          </div>
          <div *ngIf="!hasProxyGene" class="agb-title">
            Protein Sequence of Extant Gene
          </div>
        </div>
        <div *ngIf="gene?.sequence;else no_info_content" class="agb-body">
          <textarea class="agb-sequence" rows="10" readonly>
            {{gene.sequence | uppercase}}
          </textarea>
        </div>
      </div>
      <div *ngIf="hasProxyGene" class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            Gene Ontology annotations to this gene
          </div>
        </div>
        <div class="agb-body p-0">
          <mat-table [dataSource]="dataSource_a" class="" matSort>
            <ng-container matColumnDef="go_accession">
              <mat-header-cell *matHeaderCellDef mat-sort-header> GO Accession </mat-header-cell>
              <mat-cell *matCellDef="let paint_anno">
                <a href="http://amigo.geneontology.org/amigo/term/{{paint_anno.go_accession}}" target="_blank">
                  {{paint_anno.go_accession}}
                </a>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="go_name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> GO Name </mat-header-cell>
              <mat-cell *matCellDef="let paint_anno">
                <a href="http://amigo.geneontology.org/amigo/term/{{paint_anno.go_accession}}" target="_blank">
                  {{paint_anno.go_name}}
                </a>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns_a"></mat-header-row>
            <mat-row *matRowDef="let paint_anno; columns: displayedColumns_a;"></mat-row>
          </mat-table>
          <mat-card *ngIf="paintIsLoading" style="display: flex; justify-content: center; align-items: center">
            <mat-progress-spinner mode="indeterminate">
            </mat-progress-spinner>
          </mat-card>
        </div>
      </div>
      <div *ngIf="hasProxyGene" class="agb-card-simple mat-elevation-z1">
        <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="agb-title">
            Proxy Genes in Extant Species
          </div>
          <span fxFlex></span>
          <mat-form-field class>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        <div class="agb-body p-0">
          <mat-table [dataSource]="dataSource" class="" matSort>
            <ng-container matColumnDef="proxy_org_long">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Extant Species </mat-header-cell>
              <mat-cell *matCellDef="let proxy"> {{proxy.proxy_org_long}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="proxy_gene">
              <mat-header-cell *matHeaderCellDef mat-sort-header> PANTHER Identifier of Proxy Gene </mat-header-cell>
              <mat-cell *matCellDef="let proxy">
                <a href="http://pantherdb.org/genes/gene.do?acc={{proxy.proxy_gene}}" target="_blank">
                  {{proxy.proxy_gene}}
                </a>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let proxy; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #no_info_content>
  <div class="agb-alert">
    no information yet
  </div>
</ng-template>