<div fxLayout="row" class="w-100-p" fxLayoutAlign="start stretch">
  <!-- <div fxFlex="100%" fxLayout="column" fxLayoutAlign="start stretch" class="agb-sidenav mat-elevation-z4"> -->
  <!-- <div class="agb-column-toolbar" fxLayout="row">
      <form class="w-100-p">
        <mat-form-field fxFlex floatPlaceholder="never">
          <input matInput #filter (keyup)="filterNodes(filter.value, tree)" placeholder="Filter Species" />
        </mat-form-field>
      </form>
    </div> -->
  <div class="px-16">
    <p>
      <strong>Select ancestral genome by clicking on a node in the tree, to retrieve a list of protein-coding genes in that genome
        (and their proxy genes in an extant genome).</strong>
    </p>
  </div>
  <!-- <div id="scroll" class="agb-tree-container" noctuaPerfectScrollbar> -->
  <div noctuaPerfectScrollbar>
    <p-tree [value]="species" layout="horizontal" selectionMode="single" [(selection)]="selectedSpecies" (onNodeSelect)="nodeSelect($event)">
      <ng-template let-node pTemplate="default">
        <button *ngIf="!node.expanded && !node.leaf" mat-icon-button color="accent" (click)="$event.stopPropagation(); toggleExpand(node)">
          +
        </button>
        <button *ngIf="node.expanded" mat-icon-button color="accent" (click)="$event.stopPropagation(); toggleExpand(node)">
          -
        </button>
        <input [(ngModel)]="node.label " type="text ">
      </ng-template>
    </p-tree>
    <!-- <div style="margin-top:8px">Selected Node: {{selectedSpecies ? selectedSpecies.label : 'none'&#125;&#125;</div> -->
  </div>
  <!-- </div> -->
</div>