.sidebar {
  background-color: #eeeeee;
}

.graph {
  .node {
    text {
      fill: #fff;
      font-size: 12px;
      font-weight: bold;
    }
  }
  .edge {
    path {
      stroke: #000 !important;
    }
  }
  .arrow-head {
    fill: #000;
  }
}
