<div fxLayout="column" fxLayoutAlign="sart center">
  <div class="legal" fxLayout="row">
    <a mat-button [routerLink]="['/about']" routerLinkActive="active">About</a>
    <a mat-button [routerLink]="['/release-info']" routerLinkActive="active">Release Information</a>
    <a mat-button [routerLink]="['/contact-us']" routerLinkActive="active">Contact Us</a>
    <a mat-button [routerLink]="['/privacy-policy']" routerLinkActive="active">Privacy Policy</a>
    <a mat-button [routerLink]="['/disclaimer']" routerLinkActive="active">Disclaimer</a>
  </div>
  <div> &copy;&nbsp;Copyright&nbsp;2019&nbsp;Paul Thomas&nbsp;All&nbsp;Rights&nbsp;Reserved.</div>
</div>
