<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
      <span class="title dialog-title">{{speciesDetail?.short_name}}</span>
      <span fxFlex></span>
      <a mat-icon-button [routerLink]="['species/', speciesDetail.short_name]" target="_blank" aria-label="Open Gene Detail Page">
        <mat-icon matTooltip="Full page view">fullscreen</mat-icon>
      </a>
      <button mat-icon-button (click)="close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="" noctuaPerfectScrollbar>
    <div class="agb-gene-panel w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start center" noctuaPerfectScrollbar>
      <div class="agb-gene-detail" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="agb-card-simple mat-elevation-z1">
          <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-title">
              Species Name
            </div>
          </div>
          <div *ngIf="speciesDetail?.long_name;else no_info_content" class="agb-body">
            <p>
              {{ speciesDetail.long_name }}
            </p>
          </div>
        </div>
        <div class="agb-card-simple mat-elevation-z1">
          <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-title">
              Total Number of protein coding genes (click the number to show gene list)
            </div>
          </div>
          <div *ngIf="speciesDetail?.gene_count;else no_info_content" class="agb-body">
            <p>
              <a href="/species/genes/(list:genes/{{speciesDetail.short_name}}/default species)" target="_blank">
                {{ speciesDetail.gene_count }}</a>
                <!-- <a href= "#" (click)="!!goToGeneList()" target="_blank">{{ speciesDetail.gene_count }}</a> -->
            </p>
          </div>
        </div>
        <div *ngIf="speciesDetail?.timescale != 0" class="agb-card-simple mat-elevation-z1">
          <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-title">
              Estimated Speciation Time
            </div>
          </div>
          <div *ngIf="speciesDetail?.timescale;else no_info_content" class="agb-body">
            <p>
              {{ speciesDetail.timescale }} (Million Years Ago)
            </p>
          </div>
        </div>
        <!-- <div *ngIf="speciesDetail?.timescale==0" class="agb-card-simple mat-elevation-z1">
            <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-title">
                Ancestral Genomes of {{speciesDetail.long_name}}
              </div>
            </div>
            <div class="agb-body">
              <p *ngFor = "let a of speciesDetail.all_ancestors">
                <a href = "/species/{{ a[1] }}" target="_blank">{{ a[1] }}</a> ({{ a[0] }} mya)
                <a href = "/genes/genome-comparison/{{ speciesDetail.long_name }}/{{ a[1] }}" target="_blank">
                  compare with {{ speciesDetail.long_name }}
                </a>
              </p>
            </div>
          </div> -->

          <div *ngIf="speciesDetail?.timescale" class="agb-card-simple mat-elevation-z1">
            <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
              <div class="agb-title">
                Genome History of {{speciesDetail.long_name}}
              </div>
            </div>
            <div class="agb-body">
              <p>
                Parent Species <a href = "/species/{{ ParentSpeciesDetail.long_name }}" target="_blank">{{ ParentSpeciesDetail.long_name }}</a> ({{ ParentSpeciesDetail.timescale }} mya)</p>
                <p><a href = "/genes/genome-history/{{ ParentSpeciesDetail.long_name }}/{{ speciesDetail.long_name }}" target="_blank">
                  Genome History of {{ speciesDetail.long_name }}
                </a>
              </p>
            </div>
        </div>

        <div class="agb-card-simple mat-elevation-z1">
          <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-title">
              NCBI taxonomy
            </div>
          </div>
          <div *ngIf="speciesDetail?.taxon_id;else no_info_content" class="agb-body">
            <p>
              <!-- <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id={{speciesDetail.taxon_id}}"> -->
              <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id={{speciesDetail.taxon_id}}&lvl=3&lin=f&keep=1&srchmode=1&unlock"
                target="_blank">
                {{speciesDetail.taxon_id}}
              </a>
            </p>
          </div>
        </div>
        <div class="agb-card-simple mat-elevation-z1">
          <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-title">
              Tree of Life Web Project
            </div>
          </div>
          <div *ngIf="speciesDetail?.short_name;else no_info_content" class="agb-body">
            <p>
              <a *ngFor="let s of speciesDetail.long_name.split('-')" href="http://tolweb.org/{{s}}" target="_blank">
                {{ s }}
              </a>
            </p>
          </div>
        </div>
        <div class="agb-card-simple mat-elevation-z1">
          <div class="agb-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="agb-title">
              Wikipedia
            </div>
          </div>
          <div *ngIf="speciesDetail?.long_name;else no_info_content" class="agb-body">
            <p>
              <a *ngFor="let s of speciesDetail.long_name.split('-')" href="https://en.wikipedia.org/wiki/{{ s }}" target="_blank">
                {{ s }}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
    <div>

    </div>
  </div>
</div>

<ng-template #no_info_content>
  <div class="agb-alert">
    no information yet
  </div>
</ng-template>
